.form__add{
    margin:0 auto;
            background-color: rgb(28, 133, 204);
}

.ggg{
    background-color: rgb(13, 202, 202);
    border-radius: 3px;
    padding-bottom: 10px;
}
.form-control{
    background-color: rgb(249, 248, 250);
}
